nav{
  background-color: #202020;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}
ul{
  list-style: none;
  display: flex;
}
a{
  text-decoration: none;
  color: #ffffff;
  margin: 0px 10px;
  line-height: 35px;
}
.icon{
  width: 90px;
  margin-left: -70px;
}
.cart-icon{
  font-size: 25px;
  margin-top: 20px;
  color: #ffffff;
}
.deshabilitado
{
    cursor: not-allowed;
    pointer-events:none;
}
#button{
  font-size: 1rem;
  border: none;
  color: #ffffff;
  background-color: #202020;
  padding: 10px 20px;
}
#button-agregar{
  font-size: 1rem;
  border: none;
  color: #ffffff;
  background-color: #202020;
  padding: 10px 20px;
  display: flex;
}
#button:hover{
  cursor: pointer;
}
.button-container{
  display: flex;
  justify-content: center;
}
.contador-container{
  padding: 10px 50px;
  font-size: 1rem;
}
main{
  margin: 10px 20px;
  text-align: center;
}
.perfil-card{
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 0;
}
.perfil-card img{
  width: 200px;
}
.perfil-card-container{
  display:inline-flex;
  flex-wrap: wrap;
}
.button-detalles{
  border: none;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
}
.button-detalles:hover{
  cursor: pointer;
}
.perfil-card-container-details{
  display: flex;
  justify-content: center;
}