nav{
  background-color: #202020;
  height: 70px;
  display: flex;
}
ul{
  list-style: none;
  display: flex;
}
a{
  text-decoration: none;
  color: #ffffff;
  margin: 0px 10px;
  line-height: 35px;
}
.icon{
  line-height: 70px;
}

